body {
    color: #222222;
    background-color: #ffffff;
}

.brand {
    text-decoration: none;
}

.brand:link {
    text-decoration: none;
}

.sub-brand {
    color: #DDDDDD;
    position:relative;
    top: -2px;
    font-size: 10pt;
}

.navbar-brand {
    position: relative;
    left: 70px;
    padding-right: 120px;
}

.logo {
    position: absolute;
    left: 40px;
    top: 6px;
    width: 58px;
    height: 80px;
    color: #FFFFFF;
    border: 10px;
    z-index: 99999;
}

.image-logo-small {
    width: 36px;
    /* height: 94px; */
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.61);
}


.bottom-padded {
    padding-bottom: 10px;
}

.footer {
    color: #aaaaaa;
    background-color: #f8f8f8;
    position: relative;
    height: 32px;
    padding-top: 6px;
    margin-top: 60px;
    margin-bottom: 20px;
}

