<div class="container">
  <div class="page-header">
    <h1>Contact Us <small>We would love to talk.</small></h1>
  </div>
  <div class="row contact-row">
    <div class="contact-column col-lg-4">
      <ul class="contact-list" style="list-style:none;">
        <li><span class="glyphicon glyphicon-phone-alt pull-left" aria-hidden="true"></span><p>(205)798-3341</p></li>
        <li><span class="glyphicon glyphicon-file pull-left" aria-hidden="true"> </span><p>(205)798-3397</p></li>
        <li><span class="glyphicon glyphicon-envelope pull-left" aria-hidden="true"></span><p>wwbcfdal@gmail.com</p></li>
        <li><span class="glyphicon glyphicon-home pull-left" aria-hidden="true">  </span><p>2349 Forestdale Boulevard<br/>Birmingham, Alabama 35214</p></li>
      </ul>
    </div>
    <div class="contact-form-column col-lg-8">
      <h2 class="request-heading"> Request to be Contacted </h2>
      <form>
        <div class="form-group">
          <label for="inputFullName">Full name</label>
          <input type="text" class="form-control" id="inputFullName" placeholder="John Doe">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="inputStreet">Street</label>
          <input type="text" class="form-control" id="inputStreet" placeholder="1234 Rucker Place">
        </div>
        <div class="form-group">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity" placeholder="Birmingham">
        </div>
        <div class="form-group">
          <label for="inputState">State</label>
          <input type="text" class="form-control" id="inputState" placeholder="Alabama">
        </div>
        <div class="form-group">
          <label for="inputZipCode">Zip Code</label>
          <input type="text" class="form-control" id="inputZipCode" placeholder="35094">
        </div>
        <div class="form-group">
          <label for="inputPhone">Primary Phone</label>
          <input type="text" class="form-control" id="inputPhone" placeholder="(205) 777-7777">
        </div>
        <div class="form-group">
          <label for="inputComment">Comment</label>
          <textarea type="text" class="form-control" id="inputComment" placeholder="Can I have a pastor call me?" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>

