<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-override.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="menu">
          <div class="logo">
            <image class="image-logo-small" src="/images/logo_large.png"/>
          </div>
          {{.TemplateMenu}}
        </div>
      </div>
    </div>
    <div class="body">
      {{.TemplateBody}}
      <div class="footer container">
        <p> &copy; 2016 Westwood Baptist Church</p>
      </div>
    </div> <!-- end body -->
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>


