<!-- TOPIC SECTION START -->
<div class="jumbotron">
  <div class="container">


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <div class="item active">
          <img src="images/contact.jpg" alt="...">
          <div class="carousel-caption">
            caption1
          </div>
        </div>

        <div class="item">
          <img src="images/shepardschapel.jpg" alt="...">
          <div class="carousel-caption">
            <h3>...</h3>
            <p>...</p>
          </div>
        </div>

        <div class="item">
          <img src="images/streetview.png" alt="...">
          <div class="carousel-caption">
            caption2
          </div>
        </div>

      </div>



      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>








  </div>
</div>
<!-- TOPIC SECTION END -->
<!-- THREE SECTIONS START -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Directions</h2>
      <img class="bottom-padded" src="/images/topographic.png" style="width:304px;height:200px;">
      <p><a class="btn btn-default" href="https://www.google.com/maps/place/Westwood+Baptist+Church/@33.580711,-86.9175876,17z/data=!3m1!4b1!4m5!3m4!1s0x8888fd4cc2128d43:0x6acad287aff4bd37!8m2!3d33.580711!4d-86.9153989" role="button">Get Directions &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Service Times</h2>
      <table class="table">
        <tr> <td>Day</td> <td>Time</td> <td>Location</td></tr>
        <tr> <td>Sunday</td> <td>10:30am</td> <td>Forestdale</td></tr>
      </table>
      <p><a class="btn btn-default" href="#" role="button">Service Overview &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Events</h2>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
<!-- THREE SECTIONS END -->
